extends base.pug

block content 
    section#gallery
        #img1.images.tall
            img(src='./static/img1/img1.jpg')
        #img4.images
            img(src='./static/img1/img4.jpg')
        #img5.images.tall
            img(src='./static/img1/img5.jpg')
        #img3.images.tall
            img(src='./static/img1/img3.jpg')
        #img7.images
            img(src='./static/img1/img7.jpg')
        #img6.images
            img(src='./static/img1/img6.jpg')
        #img8.images.tall
            img(src='./static/img1/img8.jpg')
        #img11.images
            img(src='./static/img1/img11.jpg')
        #img9.images.tall
            img(src='./static/img1/img9.jpg')
        #img10.images
            img(src='./static/img1/img10.jpg')
        #img2.images.tall
            img(src='./static/img1/img2.jpg')
        #img12.images
            img(src='./static/img1/img12.jpg')
        #img13.images
            img(src='./static/img1/img13.jpg')
        #img14.images
            img(src='./static/img1/img14.jpg')