extends base.pug

block content 
    section#gallery
        #img1.images.tall
            img(src='./static/img2/img1.jpg')
        #img4.images.wide
            img(src='./static/img2/img4.jpg')
        #img5.images.wide
            img(src='./static/img2/img5.jpg')
        #img3.images.tall
            img(src='./static/img2/img3.jpg')
        #img7.images.wide
            img(src='./static/img2/img7.jpg')
        #img6.images.wide
            img(src='./static/img2/img6.jpg')
        #img8.images.wide
            img(src='./static/img2/img8.jpg')
        #img2.images.tall
            img(src='./static/img2/img2.jpg')
        #img9.images
            img(src='./static/img2/img9.jpg')
        #img10.images.wide
            img(src='./static/img2/img10.jpg')
        #img11.images
            img(src='./static/img2/img11.jpg')