extends base.pug

block content 
    section#gallery
        #img1.images.tall
            img(src='./static/img5/img1.jpeg')
        #img5.images.wide
            img(src='./static/img5/img5.jpeg')
        #img3.images
            img(src='./static/img5/img3.jpeg')
        #img4.images.tall
            img(src='./static/img5/img4.jpeg')
        #img6.images.wide
            img(src='./static/img5/img6.jpeg')
        #img7.images.tall
            img(src='./static/img5/img7.jpeg')
        #img2.images.tall
            img(src='./static/img5/img2.jpeg')
        