extends base.pug

block content 
    section#gallery
        #img1.images.tall
            img(src='./static/img/img1.jpg')
        #img4.images.wide
            img(src='./static/img/img4.jpg')
        #img5.images.wide
            img(src='./static/img/img5.jpg')
        #img3.images.tall
            img(src='./static/img/img3.jpg')
        #img7.images.wide
            img(src='./static/img/img7.jpg')
        #img6.images.wide
            img(src='./static/img/img6.jpg')
        #img8.images.wide
            img(src='./static/img/img8.jpg')
        #img2.images.tall
            img(src='./static/img/img2.jpg')
        #img9.images
            img(src='./static/img/img9.jpg')
        #img10.images.wide
            img(src='./static/img/img10.jpg')
        #img11.images
            img(src='./static/img/img11.jpg')